body {
  background-color: antiquewhite;
  text-align: center;
}
h1 {
  color: #a9141e;
  font-family: "Pacifico", cursive;
}
img {
  margin: auto;
  display: block;
  margin: 0 auto;
  height: 300px;
  width: 300px;
}
